/* ---------- Footer ---------- */

$footer-marginBottom: 2em!important;
$footer-fontSize: .875em;
$footer-color: #aaa;
$footer-link-color-hover: #03A9F4;

footer {
  padding-top: 2em;
  margin-bottom: $footer-marginBottom;
  font-size: $footer-fontSize;
  text-align: center;
  color: $footer-color;
  border-top: 1px solid #e5e5e5;

  div + div {
    margin-top: 1em;
  }

  a {
    color: $footer-color;
    text-decoration: none;
    transition: color .4s;

    &:hover {
      color: $footer-link-color-hover;
    }
  }
}

footer [class^="icon-"],
footer [class*=" icon-"] {
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    div + div {
      margin-top: 0;
    }
  }
}

