/* ---------- Resultat ---------- */

$resultat-width: 100%;
$resultat-height: 20em;
$white: #fff;
$dark: #333;

$text-resultat-padding: 0.625em .875em;
$border: 1px solid #e5e5e5;
$border-radius: .25em;

.color-result {
  width: $resultat-width;
  height: $resultat-height;
  background-color: $dark;
}

.info-result {
  padding: 1.25em 0;
  background: $white;
  border-top: $border;
  border-bottom: $border;
}

.text-result {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  padding: $text-resultat-padding;
  background-color: #f2f2f2;
  border-radius: $border-radius;
  border: 1px solid #e5e5e5;
  color: $dark;
}

.add-to-container {
  margin-top: .875em;
  text-align: center;
}

#addToCollection {
  width: 100%;
  margin: 0 auto;
  opacity: 0;
  pointer-events: none;
}